#contact_form {
	width: 800px;
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
	border: 2px solid black;
	padding: 10px;
}
.input-box {
	display: flex;
	margin: 10px 0;
	flex-wrap: wrap;
}
.input-box label {
	display: inline-block;
	margin: 10px 10px 10px 0;
	width: 20%;
}
.input-box input {
	font-size: 1.5rem;
	border: 1px solid #ccc;
	padding: 4px 8px;
	flex: 1;
}
input.button {
	font-size: 1.5rem;
	background: black;
	color: white;
	border: 1px solid black;
	margin: 10px;
	padding: 4px 40px;
}

.greetings {
	text-align: center;
	font-size: 1.2rem;
	background-color: #d3d3d3;
	background-image: linear-gradient(
		15deg,
		transparent 28%,
		rgba(255, 255, 255, 0.5) 28%
	);
	background-size: 50px;
}
.input-box input.error {
	border: 2px dashed red;
	background: #fee;
}
.input-box label.error {
	color: red;
	font-size: 1rem;
	text-align: right;
	width: 100%;
	margin: 10px 0;
}
